<!-- templates/base_site.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Agregar la siguiente línea para cargar Bootstrap desde el CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="conteiner">
        {% if user.is_anonymous %}
        <a href="{% url 'iniciar_sesion' %}" class="btn btn-primary btn-sm">Iniciar Sesión</a>
        {% else %}
        <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Cerrar Sesión</a>
        {% endif %}
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
    
</body>

</html>