{% extends "base_site.html" %}

{% block title %}Editar Pedido{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Editar Pedido</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <!-- Aquí muestras los campos que quieres editar del pedido -->
        <div class="form-group">
            <label for="monto_solicitado">Monto solicitado:</label>
            <input type="number" name="monto_solicitado" class="form-control" value="{{ pedido.monto_solicitado }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>
{% endblock %}
