<!-- templates/prestamos/ver_pedidos.html -->
{% extends "base_site.html" %}

{% block title %}Ver Pedidos de Préstamo{% endblock %}

{% block content %}
<h1 class="mt-4">Ver Pedidos de Préstamo</h1>
<table class="table mt-4">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Género</th>
            <th>Email</th>
            <th>Monto Solicitado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido.usuario.dni }}</td>
            <td>{{ pedido.usuario.nombre }}</td>
            <td>{{ pedido.usuario.apellido }}</td>
            <td>{{ pedido.usuario.genero }}</td>
            <td>{{ pedido.usuario.email }}</td>
            <td>{{ pedido.monto_solicitado }}</td>
            <td>
                <a href="{% url 'editar_pedido' pedido.id %}" class="btn btn-primary btn-sm">Editar</a>
                <a href="{% url 'eliminar_pedido' pedido.id %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p><a href="{% url 'solicitar_prestamo' %}" class="btn btn-success">Solicitar Préstamo</a></p>
<p><a href="{% url 'logout' %}" class="btn btn-secondary">Cerrar Sesión</a></p>
{% endblock %}
